* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* aside div menu laterale fixed */
aside {
    position: fixed;
    background-color: rgba(247, 185, 195, 0.7);
    top: 40%;
    right: 0px;
    padding: 5px 5px 5px 30px;
    border-radius: 20px;
}
.menu li {
    list-style-type: circle;
    padding: 10px;
}
.menu a {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
.menu a:hover {
    background-color: rgb(247, 185, 195);
    border: 1px solid #F04;
    color:#F04;
}
.menu a:link {
    color:#D04;
}
.menu a:visited {
    color:#D04;
}
/* div container header, section item-container and footer  */
.container {
    background-color: rgb(160, 155, 155);
    width: 900px;
    margin: 0 auto;
}
/* header */
.container-header {
    background-color: blueviolet;
    padding: 10px 10px;
    display: flex;
}
.mia-foto img {
    width: 100px;
    margin: 10px 20px 0px 150px;
    transform: rotate(4deg);
}
.header-text {
    margin: 10px 10px;
}
/* content body */
.section {
    background-color: aqua;
}
.item-container {
    background-color: wheat;
    display: flex;
    flex-wrap: wrap;
}
.item {
    background-color: #B679FE;
    height: 400px;
    flex-basis: 50%;
    color: white;
    padding: 10px;
}
.one {
    background-image: url(../images/front-back-end-sfondo.png);
    background-position: -40px;
}
.testo-one {
    padding: 2%;
}
.titoletti {
    padding: 20px 0 1px 0;
    display: flex;
}
.titoletti div {
    flex-basis: 50%;
    text-align: center;
}
.testini {
    display: flex;
}
.testini div {
    padding: 5px 18px 1px 18px;
    flex-basis: 50%;
    text-align: center;
    min-width: 100px;
}
.codici {
    color: rgb(168, 168, 168);
}
.work-in-progress {
    padding: 50px;
    text-align: center;
}
.one-chiave {
    color:lightcoral;
    padding: 1px;
}
.sotto-titolo {
    color: lightgreen;
    padding: 1px;
}
.sotto-sotto-titolo {
    color: lightblue;
    padding: 1px;
}
.two {
    background-image: url(../images/sw-che-uso.png);
}
.three {
    background-image: url(../images/linguaggi-che-uso.jpg);
}
.four {
    background-image: url(../images/portfolio-sfondo.png);
    background-position: -85px;
}
.four h3 {
    text-align: center;
}
/* socials */
.socials {
    background-color: rgb(255, 123, 0);
    padding: 10px;
    height: 200px;
}
.social div {
    padding: 10px;
}
/* footer */
.footer {
    background-color: purple;
    height: 200px;
}
.footer-header {
    background-color: wheat;
    bottom: -10px;
    position: relative;
    text-align: center;
    align-items: bottom;
}

@media only screen and (max-width: 480px) {
    .item {
    flex-basis: 100%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {

}

@media only screen and (min-width: 961px) {
    
}