* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}
aside {
    position: fixed;
    background-color: rgba(247, 185, 195, 0.7);
    top: 40%;
    right: 0px;
    padding: 5px 5px 5px 30px;
    border-radius: 20px;
}
.menu li {
    list-style-type: circle;
    padding: 10px;
}
.menu a {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Calibri', 'Courier New', Courier, monospace;
    font-weight: bold;
}
.menu a:hover {
    background-color: rgb(247, 185, 195);
    border: 1px solid #F04;
    color:#F04;
}
.menu a:link {
    color:#D04;
}
.menu a:visited {
    color:#D04;
}
.container {
    background-color: rgb(160, 155, 155);
    width: 900px;
    margin: 0 auto;
}
.container-header {
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
}
.mia-foto img {
    width: 100px;
    margin: 10px 20px 0px 150px;
    transform: rotate(4deg);
}
.header-text {
    margin: 10px 10px;
}
.section {
    background-color: aqua;
}
.item-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.item {
    background-color: #B679FE;
    height: 600px;
    flex: 1;
}
.one {
    background-color: red;
}
.two {
    background-color: green;
}
.three {
    background-color: blue;
}
.four {
    background-color: orange;
}
.social {
    background-color: rgb(255, 123, 0);
    padding: 10px;
    margin: 10px;
    height: 200px;
}
.social div {
    padding: 10px;
}
.footer {
    display: flex;
    justify-content: center;
    background-color: purple;
    height: 200px;
}
.footer-header {
    bottom: -10px;
    position: relative;
}

@media only screen and (max-width: 480px) {

}

@media only screen and (min-width: 481px) and (max-width: 960px) {

}

@media only screen and (min-width: 961px) {
    
}