* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    width: 80%;
}
.container-header {
    background-color: blueviolet;
    margin: 0 10%;
}
.full-stack.gif {
    display: flex;
    justify-content: end;
    width: 10px;
}
.section {
    display: flex;
    justify-content: center;
}
.item-container {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.item {
    border: 1px solid #fff;
    background-color: #B679FE;
    height: 200px;
    flex: 1;
    overflow:hidden;  
}
.one {
    background-color: red;
}
.two {
    background-color: green;
}
.three {
    background-color: blue;
}
.four {
    background-color: orange;
}

@media only screen and (max-width: 480px) {

}

@media only screen and (min-width: 481px) and (max-width: 960px) {

}

@media only screen and (min-width: 961px) {
    
}